.container {
  height: 100vh;
  position: relative;
  /* Full Earth view looks best with this, but who cares? */
  /* width: 140vh; */
}

.container svg {
  height: 100%;
  width: 100%;
}

.svgText rect {
  fill: #E5E5E0;
  stroke: black;
  stroke-width: 1%;
}

.svgText text {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: #f2f2f2;
}

text.summary {
  fill: black;
  font-size: 150%;
}

.controls {
  position: absolute;
}

.controls > button {
  margin: 10px;
  padding: 10px;
}

.controls .current {
  background-color: yellow;
}