.container {
  height: 100vh;
  position: relative;
  /* Full Earth view looks best with this, but who cares? */
  /* width: 140vh; */
}

.container svg {
  height: 100%;
  width: 100%;
  background-color: #7CD4E9;
}

.controls {
  position: absolute;
}

.controls > button {
  margin: 10px;
  padding: 10px;
}
